@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Montserrat", sans-serif;
    font-family: "Poppins", sans-serif;
  }
  

#para {
    text-align: center;
    background-color: antiquewhite;
    padding: 50px;

}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
 
}
.btn{   
    padding: 9px 20px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: rgb(46, 118, 38);
    
}

body{
    height: 90vh;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    padding: 50px;
    background: rgb(247, 247, 247);
    background: linear-gradient(    214deg,    rgba(247, 247, 247, 1) 0%,    rgba(238, 234, 64, 1) 15%,    rgba(255, 255, 255, 1) 100%  );
    border-radius: 20px;
}
